@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<style>
    .tab {
        padding-left: 10px;
    }
</style>

<h2>Администрирование</h2>

1.  <b>Банк имеет право:</b><br />
1.1.	в порядке, определенном Правилами, изменять в любой момент и по своему усмотрению набор и объем операций, услуг и функций, предоставляемых в рамках услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами», а также порядок, характер и способы их оказания; изменять условия предоставления услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами» и порядок оплаты отдельных операций, в том числе:<br />
1.1.1.  вносить изменения и дополнения в настоящие Правила;<br />
1.1.2.  вносить изменения и дополнения в Сборник платы;<br />
1.1.3.  вносить изменения и дополнения в Перечень операций, доступных клиентам банка для совершения с использованием услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами»;<br />
1.2.	выполнять платежные поручения Клиента, в т.ч. списывать с его счетов суммы операций, совершенных с использованием Автоматизированная система обработки банковских платежей и расчетов с физическими лицами, а также комиссии за совершение данных операций;<br />
1.3.	хранить информацию обо всех операциях, совершаемых Клиентом;<br />
1.4.	открывать Клиенту счета, выпускать (перевыпускать) карточки на основании заявления Клиента, оформленного посредством Автоматизированная система обработки банковских платежей и расчетов с физическими лицами;<br />
1.5.	приостановить (блокировать) доступ к Автоматизированная система обработки банковских платежей и расчетов с физическими лицами без предварительного уведомления Клиента в случаях:<br />
1.5.1.  нарушения Клиентом Правил использования системы – на срок до устранения допущенных нарушений;<br />
1.5.2.  наличия обстоятельств, дающих основание полагать, что услуга «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами» используется не Клиентом – на срок до выяснения этих обстоятельств;<br />
1.5.3.  возникновения технических неисправностей при предоставлении услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами» до их устранения;<br />
1.5.4.  замены, технического обслуживания и т.п. оборудования и (или) программного обеспечения, используемого Банком для оказания услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами», - на срок до 72 часов включительно;<br />
1.6.	в одностороннем порядке без уведомления Клиента закрыть доступ к услуге «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами», если Клиент не пользовался данной услугой более года;<br />
1.7.	планово либо внепланово изменять технические характеристики и параметры программно-технических средств, задействованных в оказании услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами», в том числе с временным приостановлением оказания данной услуги, но не более 72 часов.<br /><br />
2.	<b>Банк обязан:</b><br />
2.1.	качественно и своевременно оказывать Клиенту услугу «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами» в соответствии с настоящими Правилами;<br />
2.2.	соблюдать конфиденциальность информации личного характера, предоставленной Клиентом при выполнении операций и управлении услугами посредством Автоматизированная система обработки банковских платежей и расчетов с физическими лицами, за исключением случаев, когда предоставление такой информации является необходимым условием выполнения данной операции либо когда предоставление такой информации является обязательным в силу требований законодательства Республики Беларусь;<br />
2.3.	соблюдать конфиденциальность логина, пароля и сеансовых ключей Клиента;<br />
2.4.	предоставлять Клиенту электронные копии чеков, подтверждающие выполнение платежей с использованием Автоматизированная система обработки банковских платежей и расчетов с физическими лицами;<br />
2.5.	передать информацию об успешно совершенном в Автоматизированная система обработки банковских платежей и расчетов с физическими лицами платеже получателю по реквизитам, указанным Клиентом;<br />
2.6.	уведомлять Клиента об изменениях условий предоставления услуги «Автоматизированная система обработки банковских платежей и расчетов с физическими лицами» не позднее 1-го дня после их утверждения.<br />