<h2 style="margin-top: 0;">Правила безопасности:</h2>
<ol>
    <li>Для работы в «Автоматизированной системе банковских расчетов и платежей с физическими лицами» Вам понадобится компьютер с браузером, поддерживающим 256 битное шифрование (Internet Explorer 8.0 и выше, Mozilla Firefox 34 и выше, Opera 26 и выше, Safari 8.0 и выше, Google Chrome 37.0 и выше) и доступом в Интернет.</li>
    <li>Используйте программное обеспечение из проверенных и надёжных источников, выполняйте регулярные обновления. </li>
    <li>Ни при каких условиях не сообщайте информацию о Вашем логине, пароле или сеансовых ключах третьим лицам. </li>
    <li>Убедитесь, что Ваш компьютер не поражён какими-либо вирусами. Установите и активизируйте антивирусные программы с актуальными антивирусными базами данных. Старайтесь их постоянно обновлять. Обращаем внимание, что действие вирусов может быть направлено на запоминание и передачу третьим лицам информации. </li>
    <li>Ни в коем случае не сохраняйте информацию о Вашем логине, пароле или сеансовых ключах на любых носителях, включая компьютер. Если у Вас возникли подозрения в компрометации логина, пароля и (или) сеансовых ключей или в случае утраты карточек паролей/ключей, Вам необходимо незамедлительно обратиться в банк, чтобы заблокировать доступ к системе. </li>
    <li>После окончания работы в «Автоматизированной системе банковских расчетов и платежей с физическими лицами» обязательно нажмите кнопку «Выйти», расположенную слева внизу меню. </li>
</ol>
<p><label class="orange">Внимание!</label> В случае возникновения проблем с отображением отдельных страниц системы «Интернет-банкинг» рекомендуем произвести в используемом браузере удаление временных файлов (истории просмотра, файлов «cookie», данных веб-форм и т.п.). Для браузеров Internet Explorer, Mozilla Firefox – нажмите Ctrl+F5, для Opera, Safari – F5, для Google Chrome – Ctrl+Shift+Del.</p>
